.form
  %form.input
    .input-box
      %input#message_content.input-box__text{:name => "", :placeholder => "type a message", :type => "text"}/
      %label.input-box__image
        %i.fa.fa-image
    %input.submit-btn{:name => "", :type => "submit", :value => "Send"}/
