.messages__message{data: {message: {id: message.id}}}
  .messages__message-info
    %p.messages__message-info__talker
      = message.user.nickname
    %p.messages__message-info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  %p.messages__message__text
    - if message.body.present?
      = message.body
  %p.messages__message__text
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
